{{#each Post}}
<div class = "container">
    <div class = "subforum">
            <div class="title align-self-top">
                <h3>informação geral</h3>
            </div>
        </div>
        <div class = "subforum-row flex-fill justify-content-center">
            <div class = "subforum-icon subforum-column bg-dark align-self-top">
                <i class="fa fa-car"></i>
            </div>
            <div class="subforum-description subforum-column text-light bg-dark">
                <h4><a href="">{{title}}</a></h4>
                <p><textarea id="textarea" class="w-100 text-light bg-dark border-0" rows="6" readonly>{{content}}</textarea></p>
            </div>
            <div class="status subforum-column text-light bg-dark align-self-top">
                <span>1 post | 1 topics</span>
            </div>
            <div class = "subforum-info subforum-column text-white bg-dark align-self-top">
                <b>Last post by <a href="">{{author}}</a></b>
                <br>
                em {{date}}
            </div>
    </div>
</div>
{{else}}

{{/each}}