{{#each Posts}}
<div class="container m-auto mt-5">
    <div class="subforum">
        <div class="title text-light bg-dark">
            <h1>informação geral</h1>
        </div>
    </div>
    <div class="subforum-row ">
        <div class="subforum-icon subforum-column">
            <i class="fa fa-car"></i>
        </div>
        <div class="subforum-description subforum-column text-light bg-dark">
            <h1><a href="">{{title}}</a></h1>
            <p>{{content}}</p>
        </div>
        <div class="status subforum-column text-light bg-dark">
            <span>24 post | 13 topics</span>
        </div>
        <div class="subforum-info subforum-column text-light bg-dark">
            <b><a href="">Last Post</a> by <a href="">{{author}}</a></b>
            <br>
            {{date}}
        </div>
    </div>
</div>
{{else}}

{{/each}}